
.post{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 10px;
    grid-template-areas:"article sidebar"
                        "related sidebar"
                        "comment sidebar";
}
.sidebar{
    position: relative;
}
.sidebar__content{
    /* position: unset; */
    top: unset;
}
.section--latest{
    margin-bottom: 0;
}
.article{
    grid-area: article;
    font-family: noto sans;
    padding: 20px 0 0 0;
}
.article>p{
    margin-bottom: 15px;
    font-size: 15px;
    color: var(--text-color);
}

.post header{
    /* border: 5px solid black; */
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}
.post .overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    gap: 13px;
}
.meta-tags--post{
    color: #c7c7c7;
    align-items: center;
}
.meta-tags__comments{
    display: flex;
    align-items: center;
    gap: 5px;
}
.meta-tags__autor img{
    width: 25px;
    border-radius: 50%;

}

.meta-tags__separator{
    width: 3px;
    height: 3px;
}

.article  header h1{
    color: #dddddd;
    font-family: khand;
    font-size: 31px;
    line-height: 1.1;
}

.article h2, .article h3{
    margin-bottom: 15px;
    color: var(--title-color);
}

figure{
    margin: 15px 0;
    position: relative;
}
figcaption{
    font-family: classic;
    font-size: 13px;
    color: #333333;
    margin-top: 5px;
    font-style: italic;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: #dddddd;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.header__categories{
    color: black;
    font-family: classic;
    font-size: 15px;
    display: flex;
    gap: 5px;
}
.header__categories span{
    cursor: pointer;
    padding: 5px 10px;
    border: 3px solid currentColor;
    background-color: #dddddd;
    transition: all 0.3s ease;
}
.header__categories span:hover{
    background-color: black;
    color: #dddddd;
}
.score{
    top: 30px;
    right: 23px;
}
.score__number{
    font-size: 38px;
}
.sidebar .score{
    top: 5px;
    right: 5px;
}
.sidebar .score__number{
    font-size: 25px;
}

hr {
    height: 2px;
    background-color: var(--section-separator);
    border: none;
    margin-bottom: 15px;
}
.share{
    display: flex;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}
.share__button{
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share__button--share{
    font-size: 14px;
    border: 1px solid #aaaaaa;
    color: var(--text-color);
    border-radius: 3px;
    width: 110px;
    display: flex;
    font-weight: bold;
    gap: 10px;
}
[data-theme="dark"] .share__button--share {
    border: 1px solid #5f5f5f;
}
.share__button--share svg{
    font-size: 12px;
}
.share__button--facebook{
    background-color: var(--fbColor);
}
.share__button--x{
    background-color: var(--xColor);
}
.share__button--whatsapp{
    background-color: var(--wsColor);
}
.share__button--telegram{
    background-color: var(--tgColor);
}
.share__button--pinterest{
    background-color: var(--prColor);
}




.calificacion{
    background-color: #00000020;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 10px;
    align-items: center;
    margin-bottom: 35px;
}
.calificacion__titulo{
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    flex-basis: 100%;
    
}
.calificacion__resumen{
    color: var(--text-color);
    flex-basis: calc(100% - 100px - 10px);
}
.calificacion__numero{
    color: var(--text-color);
    font-size: 40px;
    border: 1px solid var(--text-color);
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}




.autor{
    display: flex;
    align-items: center;
    margin: 30px 0 35px 0;
    gap: 20px;
}
.autor__image{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}
.autor__image img{
    border-radius: 50%;
}
.autor__info{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.autor__info h1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--title-color);
}
.autor__social{
    display: flex;
    align-items: center;
    gap: 5px;
}




.section__subheader{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.section__subheader::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--section-separator);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}
.section__subheader h2, .section__subheader .sesion{
    color: var(--title-color);
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--main-bg);
    z-index: 1;
    transition: all .2s;
}

.sesion{
    display: flex;
    gap: 10px;
}

.comment{
    display: flex;
    gap: 10px;
}

.comment__user{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.comment__user img{
    border-radius: 50%;
}

.comment--form .comment__user{
    width: 80px;
    height: 80px;
}

.comment__content{
    position: relative;
    background-color: var(--box-comment);
    color: var(--text-color);
    padding: 10px 15px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 5px;
}
.comment__content::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -10px;
    border-right: 30px solid var(--box-comment);
    transition: border-right .2s;
    border-bottom: 30px solid transparent;
    border-top: 0px solid transparent;
    z-index: -1;
    transition: color .2s;
}
.comment__header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.comment__header span{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.comment__content h2{
    color: var(--title-color);
    font-size: 14px;
}
.comment__options{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -12.5px;
}
.comment__options span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--meta-color-1);
    background-color: var(--main-bg);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}
.comment__options span:hover{
    border-color: #aaaaaa;
    background-color: #232323;
    color: #cccccc;
}

[data-theme="dark"] .comment__options span:hover{
    border-color: #777777;
    background-color: #f3f3f3;
    color: #555555;
}

.comment--form{
    flex-wrap: wrap;
    gap: 15px;
}
.textarea-container{
    padding: 15px;
    position: relative;
    flex-grow: 1;
    background-color: white;
    border: 1px solid #00000040;
    border-radius: 10px;
    transition: background .2s;
}
[data-theme="dark"] .textarea-container{
    background-color: #181818;
    border-color: #ffffff40;
}

.textarea-container::after{
    font-size: 1px;
    content: "";
    width: 11px;
    height: 20px;
    position: absolute;
    background-color: white;
    border: 1px solid #00000040;
    border-top: none;
    border-right: none;
    border-left-width: 0.8em;
    top: -5.4em;
    left: -2px;
    transition: all .2s;
    z-index: -1;
    transform: skewX(45deg) rotate(90deg);
    z-index: 2;
}
[data-theme="dark"] .textarea-container::after{
    background-color: #181818;
    border-color: #ffffff40;
}
.textarea-container textarea{
    width: 100%;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: var(--text-color);
    height: 1em;
    resize: none;
    font-size: 15px;
    overflow: hidden;
    overflow-wrap: break-word;
    line-height: 1;
}
.textarea-container textarea:focus{
    outline: none;
}
.form-options{
    flex-basis: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.form-options input{
    padding: 5px 10px;
    border: 1px solid black;
    color: var(--text-color);
    border-radius: 3px;
    font-family: inherit;
    appearance: none;
    transition: all .2s;
}
[data-theme="dark"] .form-options input{
    background-color: #181818;
    border-color: #ffffff40;
    color: var(--text-color);
}
.form-options input:hover{
    background-color: #1d1d1d;
    color: #dddddd;
}
[data-theme="dark"] .form-options input:hover{
    background-color: #dddddd;
    color: #1d1d1d;
}

blockquote{
    /* font-family: 'Opens Sans'; */
    border-left: solid 3px var(--primary);
    background-color: rgba(0, 0, 0, 0.125);
    text-align: center;
    font-size: 14px;
    padding: 15px 23px;
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 1.6;
}
blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

.video {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 15px;
}


@media screen and (max-width:1125px) {
    .sidebar__content{
        display: flex;
        width: 100%!important;
        position: static!important;
        top: auto!important;
        bottom: auto!important;
        gap: 0px 40px;
    }
    .post{
        grid-template-columns: 1fr;
        grid-template-areas: "article"
                            "sidebar"
                            "related"
                            "comment";
    }
    .article{
        padding: 20px 0 0 0;
    }
    .sidebar__content{
        flex-wrap: wrap;
    }
    .section--latest{
        flex-basis: 100%;
        flex-grow: 1;
        margin-bottom: 35px;
    }
    .section--social{
        flex-basis: 35%;
    }
    .section--cartelera{
        flex-grow: 1;
    }

    .latest{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sidebar .block-6 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width:768px){
    .section--cartelera{
        flex-basis: 100%;
    }
    .section--social{
        flex-basis: 100%;
    }
    .social-bar__item {
        flex-basis: calc(50% - 2.5px);
        height: 50px;
    }
    aside .block-4{
        width: 520px;
        padding: 30px 0px;
        background: url(../img/film.png) var(--positionBackground) top / 34.666px 100% repeat no-repeat;
    }
    .sidebar .block-6 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}


@media screen and (max-width:576px) {
    
    .section--cartelera{
        flex-basis: 100%;
    }
    aside .block-4{
        width: 260px;
        padding: 45px 0px;
        background: url(../img/film.png) var(--positionBackground) top / 52px 100% repeat no-repeat;
    }
    
    .latest{
        grid-template-columns: 1fr;
    }
    .article{
        padding-top: 0;
    }
    .post header{
        margin: 0 -10px 35px -10px;
        width: auto;
    }
    .post .overlay {padding: 20px;}


    .meta-tags__autor img {width: 20px;}
    .meta-tags--post {flex-wrap: wrap;}
    .meta-tags__separator{display: none;}

    .share {font-size: 18px;}
    .share__button {width: 40px; height: 40px;}
    .share__button--share {width: 40px; height: 40px;}
    .share__button--share span {display: none;}

    .calificacion{
        margin: 0 -10px 35px -10px;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .calificacion__resumen {flex-basis: 100%;}

    .autor{
        flex-direction: column;
    }
    .autor__image {width: 60px; height: 60px;}
    .autor__info{
        align-items: center;
        text-align: center;
    }

    .comment__user{
        width: 30px;
        height: 30px;
    }
    .comment--form .comment__user {
        width: 50px;
        height: 50px;
    }
}