*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
    color: unset;
}
h1,h2,h3,h4,h5{
    text-wrap: pretty;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@font-face {
    font-family: classic;
    src: url(../font/ClassicComic.otf);
}

html{
    scroll-behavior: smooth;
}
:root{
    --navBarHeight: 50px;
    --igColor:#ce4b95;
    --fbColor:#558dfc;
    --twColor:#50c7fa;
    --ytColor:#f14334;
    --boxCommentColor:#e3e3e3;
}

body{
    font-family: roboto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,auto);
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "featured featured featured"
    "content content content"
    "block3 block3 block3"
    "content2 content2 content2"
    "footer footer footer";
}

.container{
    width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
}
.header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../img/background-dark.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__brand{
    display: flex;
    justify-content: space-between;
}
.header__brand img{
    margin: 10px 0;
}
.header__social{
    color: white;
    background-color: #222222;
    align-self: flex-start;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    border-radius: 0 0 10px 10px;
}

.content, .content:nth-of-type(2){
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "main main sidebar"
    "block-4 block-4 sidebar";
}
.content:nth-of-type(2) {
    grid-area: content2;
    grid-template-areas: 
    "main2 main2 sidebar2";

}
.main{
    grid-area: main;
    padding: 20px 10px 10px 0px;
}

.sidebar{
    grid-area: sidebar;
    padding: 20px 0px 20px 40px;
}
.sidebar__content{
    position: sticky;
    top:20px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
}
.section__header{
	padding-bottom:3px;
	display:flex;
	justify-content: space-between;
	margin-bottom:10px;
	align-items: center;
    border-bottom: 2px solid #0000001a;
}
.section__header h4{
    font-size: 16px;
    font-family: roboto;
	margin-bottom: 5px;
    color:#333333;
}
.selected{
    background-color: #000000;
    color: white;
}

.section__pagination{
    display: flex;
    flex-direction: row;
    height: 35px;
    font-size: 13px;
    justify-content:space-between;
    margin-top: 10px;
}
.section__pagination__button{
    padding:10px;
    border:1px solid rgb(170, 170, 170);
    border-radius: 5px;
    color: #555555;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.section__pagination__button--next span{
    border-left: 1px solid rgb(170, 170, 170);
    padding:10px;
    padding-right: 0px;
    margin-left: 10px;
    font-size: 10px;
}
.section__pagination__button--prev span{
    border-right: 1px solid rgb(170, 170, 170);
    padding:10px;
    padding-left: 0px;
    margin-right: 10px;
    font-size: 10px;
}

.section__filter{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section__filter span{
    cursor: pointer;
    padding:5px;
    border-radius: 2px;
    transition: all .3s;
}
.section__filter span:hover{
    background-color: #000000;
    color:white;
}


.meta-tags{
    display: flex;
    flex-direction: row;
    font-family: roboto;
    font-size: 12px;
    color:#777;
    gap: 10px;
}
.meta-tags__autor,
.meta-tags__date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


/*------------ BLOQUE 1 -------------*/

.block-1 {display:flex; flex-direction: column; gap: 25px;}
.block-1__post {display:flex; gap:20px;}
.block-1__post-title{
    font-family: khand;
    font-size: 20px;
    line-height: 1.3;
    color:#333333;
}
.block-1__post-content {display: flex; flex-direction: column; gap: 5px;}
.block-1__post-content p {font-family: 'Noto Sans', sans-serif; font-size: 14px; color:#555555;}
.block-1__thumbnaill {flex: 0 0 250px; height: 150px;}
.block-1__thumbnaill img {transition: all .5s;}
.block-1__post:hover .block-1__thumbnaill img {filter: brightness(0.7);}
.block-1__button{
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #172a31;
    color: #dbdbdb;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

/*:::::::::::::::: SECCION NAVBAR:::::::::::::::::::*/

.nav{
    grid-area: nav;
    height:var(--navBarHeight);
    background-color: #222222;
    position: sticky;
    display: flex;
    top:calc(var(--navBarHeight) * -1);
    transition: top .3s;
    z-index: 9999;
    color: white;
}
.nav .container {display: flex; justify-content: center; align-items: center; position: relative;}
.nav--show {top:0;}
.nav__logo {display: none;position: absolute;left: 0;}
.nav__logo--show {display: flex;}
.nav__logo img {width: auto;height: 40px;}
.nav__menu {list-style: none;display:flex;}
.nav__menu li:hover {background-color: #0e0e0e;}

.nav__menu a, .nav__menu i {
    font-size: 14px;
    text-decoration: none;
	line-height: 50px;
	font-weight: 700;
    text-transform: uppercase;
	display: block;
    padding: 0px 15px;
}
.nav__menu i {cursor: pointer;}
.nav__switch {position: absolute; right: 0;}

/*:::::::::::::::: SECTION FEATURED :::::::::::::::*/

.featured{
    grid-area: featured;
    max-width: 1400px;
    height: 490px;
    padding:20px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "item_a item_a item_b item_b"
        "item_a item_a item_c item_c";
}
.featured__item{
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: relative;
}
.featured__image {position: absolute; inset: 0;}
.featured__item:hover .featured__title {background-color: #000000cc;}
.featured__item img {transition: filter .5s;}
.featured__item:hover img {filter: brightness(0.7);}
.item_a{
    grid-area: item_a;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 0 100%);
}
.item_a img{
    clip-path: polygon(0 0, 97% 0, 100% 100%, 0 100%);
    transform: scale(0.98);
}
.item_b{
    grid-area: item_b;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 1.6% 100%);
    margin-left: -1.6%;
    width: calc(100% + 1.6%); 
}
.item_b img{
    clip-path: polygon(0 0, 100% 0, 100% 97%, 1.6% 100%);
    transform: scale(0.98,0.95);
}
.item_c{
    grid-area: item_c;
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 1.5% 100%);
}
.item_c img{
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 1.5% 100%);
    transform: scale(0.98,0.95);
}
.featured__title{
	position: absolute;
	bottom: 0;
    text-align: center;
	background-color: #00000099;
	width: 100%;
	padding: 10px 20px 15px;
    color:white;
	transition: all .5s;
    font-family: khand;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:7px;
    z-index: 3;
}
.featured__title h1 {font-size: 22px; line-height: 1;}
.featured__title h1:hover {color: #FFC107}
.featured__item:first-child .featured__title h1 {font-size: 30px;line-height: 1;}
.featured__category{
    background-color: white;
    color: #000000;
    border:2px solid black;
    position: absolute;
    padding:5px 10px;
    top:20px;
    left:20px;
    font-family: classic;
    font-size: 15px;
    font-weight: bold;
    transition: all .5s;
    z-index: 3;
}
.featured__category:hover {background-color: black; color: white; border: 2px solid white;}
.meta-tags--featured {color: #d8d8d8;}

/*::::::::::::::::::::::::::::::*/


/*:::::::::::::::: TRENDING :::::::::::::::*/

.trending {display: flex; flex-direction: column; gap: 10px;}
.trending__item{
    display: flex;
    padding-left: 5px;
    position: relative;
    gap: 15px;
}
.trending__item::before{
    content: attr(data-position);
    position: absolute;
    display: flex;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.trending__item:hover .trending__thumbnaill img {filter: brightness(0.7);}
.trending__thumbnaill {flex: 0 0 110px; height: 75px;}
.trending__thumbnaill img {transition: all .5s;}
.trending__content {display: flex; flex-direction: column; gap:5px;}
.trending__title{
    font-family: khand;
    font-size: 15px;
    line-height: 1.3;
    color:#333333;
}
.trending__date{
    display: flex;
    font-size: 12px;
    color:#777777;
    gap:3px;
}
.trending__autor {font-size: 13px;}

/*:::::::::::::::::: BLOQUE 3 CATEGORIAS::::::::::::::::::::*/

.block-3 {grid-area: block3; margin: 10px 0;}
.block-3 .container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 160px;
    padding:20px;
}
.block-3__item{
    background-color: black;
    font-family: classic;
    filter: grayscale(.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter .3s;
}
.block-3__item:hover {filter: grayscale(0);}
.block-3__item a{
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    transition: all .3s;
}
.block-3__item--comics {clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);}
.block-3__item--movies{clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);}
.block-3__item--tv{clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);}
.block-3__item--anime{clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);}
.block-3__item--manga{clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);}
.block-3__item--videogames{clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);}

.block-3__comics, 
.block-3__movies, 
.block-3__tv, 
.block-3__videogames, 
.block-3__anime, 
.block-3__manga{
    display: flex;
    width: 96%;
    height: 96%;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.block-3__comics {clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%); background-image: url(../img/1.jpg);}
.block-3__movies {clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);background-image: url(../img/3.jpg);}
.block-3__tv {clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);background-image: url(../img/4.jpg);}
.block-3__videogames {clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);background-image: url(../img/2.jpg);}
.block-3__anime {clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);background-image: url(../img/6.jpg);}
.block-3__manga {clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);background-image: url(../img/5.jpg);}


/*::::::::::::::::::: FOOTER ::::::::::::::::::*/

.footer{
    grid-area: footer;
    background-color: #222222;
    color:white;
}
.footer>.container{
    padding: 50px 20px;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/*::::::::::::::: SUBFOOTER :::::::::::::::*/
.subfooter{
    height: 45px;
    background-color: #0e0e0e;
    font-size: 13px;
    text-transform: uppercase;
}
.subfooter .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
/*::::::::::::: BLOQUE ABOUT ::::::::::::::::*/

.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.about__logo {height: 75px;}
.about__text {font-size: 14px; line-height: 1.4;}

/*::::::::::::: BLOQUE FEED INSTAGRAM ::::::::::::::::*/

.block-insta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,90px);
    gap:5px;
}
.block-insta__photo {width: 100%;height: 100%;}

/*:::::::::::::::: NEWSLETTER ::::::::::::::::::*/

.newsletter {display: flex; flex-direction: column; gap: 5px;}
.newsletter__title {font-size: 18px; margin-bottom: 7px;}
.newsletter__text {font-size: 14px; margin-bottom: 7px;}
.newsletter__email {padding:10px; font-size: 14px;}
.newsletter__button {height: 40px;}

/*:::::::::::::::: social links footer:::::::::::::::::::*/

.social-footer {display: flex; flex-direction: column; justify-self: center;}
.social-footer__container {display: flex; flex-direction: column; gap: 10px;}
.social__title {font-size: 18px; margin-bottom: 15px;}
.social-footer__item {display: flex; gap: 10px;}
.social-footer__item i {font-size: 20px; width: 30px;}
.social-footer__item p {font-size: 12px;}


/*::::::::::::: BLOQUE 4 CARTELERA :::::::::::::::::::*/

.block-4{
    grid-area: block-4;
    /* width: 800px; */
    min-height: 300px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: 0px -10px 0px -20px; */
    position: relative;
}
.block-4 .section-header, .block-4 h4{
    color:white;
}
.block-4__container{
    --positionBackground: 0;
    padding: 25px 0px;
    align-self: center;
    width: 710px;
    background-image: url(../img/film.png);
    background-position-y: top;
    background-repeat:  repeat no-repeat;
    background-position-x: var(--positionBackground);
    background-size: 28.4px 100%;
    transition: background 0.23s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: hidden;
}
.block-4__item{
    --positionSlide:0px;
    transform: translate(var(--positionSlide));
    width: 138px;
    /* min-height: 220px; */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap:2px;
    transition: transform 0.23s;
    transition-timing-function: ease-in-out;
}

.block-4__thumbnaill{
    width: 100%;
    height: 220px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.block-4__content{
    position: absolute;
    padding: 5px;
    bottom: 0;
    width:100%;
    color: white;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.block-4__content::after{
    content: "";
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,0.9248074229691877) 5%, rgba(0,0,0,0.5886729691876751) 35%, rgba(0,0,0,0) 55%);
}
.block-4__item img{
    transition: all .5s;
}
.block-4__item:hover img{
    transform: scale(1.1);
    filter: brightness(0.7);
}

.block-4__title{
    font-family: khand;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
    /* font-weight: bold; */
}
.block-4__date{
    font-family: roboto;
    display: flex;
    gap: 3px;
    font-size: 11px;
    color: #dbdbdb;
}
.block-4__buttons{
    display: flex;
    flex-direction: row;
    gap:15px;
    
}
.block-4__buttons i{
    cursor: pointer;
}

.blocked{
    color:#606060;
    cursor: default!important;
}

/*:::::::::::::::: SOCIAL BAR ::::::::::::::::*/

.social-bar{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}
.social-bar__item{
    flex-basis:calc(50% - 2.5px);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap:10px;
}
.social-bar__item--facebook {background-color: var(--fbColor);}
.social-bar__item--twitter {background-color: var(--twColor);}
.social-bar__item--instagram {background-color: var(--igColor);}
.social-bar__item--youtube {background-color: var(--ytColor);}
.social-bar__count {font-size: 11px;}

/*:::::::::::::: bottom top ::::::::::::::::::*/

.button-top{
    position:fixed;
    bottom: 15px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: black;
    transform: translateY(500px);
    transition: transform 1s ease-in-out;
    cursor: pointer;
    z-index: 10;
}
.button-top--show {transform: translateY(0);}
.button-top__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid currentColor;
}
.button-top__container::before,
.button-top__container::after {content: ''; position: absolute;}
.button-top__container::before{
    height: 100%;
    top: 3px;
    left: -4px;
    right: -4px;
    background-color: currentColor;
    z-index: -1;
}
.button-top__container::after{
    bottom:-10px;
    left:12px;
    width: 0; 
    height: 0; 
    border-top: 8px solid currentColor;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


/*::::::::::::::: BLOQUE 5 NOTICIAS:::::::::::::::::::::*/

.block-5{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 75px);
}
.block-5__post:not(:nth-child(1)){
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 75px;
    gap: 15px;
}
.block-5__post:first-child{
    grid-area: 1/1/5/2;
    height: 100%;
    display: grid;
    grid-template-rows: 220px 1fr;
    gap:10px;
}
.block-5__thumbnail img {transition: all .5s;}
.block-5__post:hover .block-5__thumbnail img {filter: brightness(0.7);}
.block-5__content {display: flex; flex-direction: column;gap: 5px;}
.block-5__title{
    font-family: khand;
    font-size: 15px;
    line-height: 1.3;
    color:#333333;
}
.block-5__title--first {font-size: 20px;}
.block-5__autor {font-size: 13px;}
.block-5__date {display: flex; gap:3px; font-size: 12px; color:#777777;}
.block-5 .exctract {font-family: 'Noto Sans', sans-serif; font-size: 14px; color: #555555;}


/*::::::::::: block 6 RESEÑAS - ANIME - LISTAS - TOPS ::::::::::::::::::::*/

.block-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px;
    gap:10px;
}
.block-6__post {height: 100%; position: relative;}
.block-6__post img {transition: all .5s;}
.block-6__post .img:hover {filter: brightness(0.7);}
.block-6__content{
    position: absolute;
    padding: 5px 10px;
    color: white;
    inset: 0;
    z-index: 1;
    display: flex;
    gap: 5px;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-end;
}
.block-6__date {
    display: flex;
    gap: 3px;
    font-size: 11px;
    color: #dbdbdb;
}
.block-6__title {
    font-family: khand;
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
    pointer-events: auto;
}
.block-6__title:hover {color: #FFC107;}
.block-6__content::after {
    content: "";
    inset: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 60%);
}
.score{
	position:absolute;
	top:5px;
	right:5px;
	background-color: rgba(0,0,0,.7);
    border-radius: 50%;
    z-index: 2;
}
.score__number {fill: white; font-size: 25px; text-anchor: middle;}
.score__box {fill: #000000b3;}
.score__progress {
	stroke-width: 8;
	fill: none;
	transform: rotate(270deg);
	transform-origin: center;
	stroke-dasharray: 188.496;
	stroke-dashoffset: 0;
    stroke: #f14334;
}
/* .ochentacinco {animation: ochen 2000ms linear forwards; stroke:rgb(63, 192, 3);}
.cincuenta {animation: cincu 2200ms linear forwards; stroke:rgb(255, 60, 0);}
.veinticinco {animation: veint 2200ms linear forwards; stroke:rgb(255, 0, 0);}
@keyframes ochen{100%{stroke-dashoffset: 28.2744;}}
@keyframes cincu {100%{stroke-dashoffset: 94.248;}}
@keyframes veint{100%{stroke-dashoffset: 141.372;}} */



/*::::::::::::::::::: block comments :::::::::::::::::::::*/

.comments {display: flex; flex-direction: column; gap: 10px;}
.comments__item {display: flex; height: 75px; gap: 20px;}
.comments__thumbnaill {flex-basis: 75px; flex-shrink: 0;}
.comments__thumbnaill img {border-radius: 50%;}
.comments__content {
    display: flex;
    flex-direction: column;
    background-color: var(--boxCommentColor);
    padding: 10px 10px 5px 10px;
    position: relative;
    justify-content: space-between;
    border-radius: 5px;
}
.comments__content::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: -15px;
    border-right: 25px solid var(--boxCommentColor);
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    z-index: -1;
}
.comments__message {font-size: 12px; color:#555555; }
.meta-tags--comments {gap: 3px; font-size: 11px; justify-content: flex-end;}

/*::::::::::::::::::::::::::::::::::::::*/


/*sidebar2*/

.sidebar2{
    grid-area: sidebar2;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px 20px 20px 40px;
}

.main2{
    grid-area: main2;
    padding: 20px 10px 10px 0px;
}

@media screen and (max-width:1125px) {
    .container{
        width: 900px;
    }
    .featured{
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .layout{
        width: 100%;
        grid-template-areas:
    "header header header"
    "nav nav nav"
    "featured featured featured"
    "main main main"
    "block-4 block-4 block-4"
    "block3 block3 block3"
    "main2 main2 main2"
    "footer footer footer";
    }
    .featured{
        height: auto;
        gap: 10px 0px;
        padding: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 350px 250px;
        grid-template-areas: 
    "item_a item_a item_a item_a"
    "item_b item_b item_c item_c";
    }
    .item_a{
    clip-path: none;
    }
    .item_a img{
        clip-path: none;
        transform: scale(0.98);
    }
    .item_b{
        clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
        margin-left: 0px;
        width: 100%; 
    }
    .item_b img{
        clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
        transform: scale(0.96);
    }
    .item_c{
        clip-path: polygon(3% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    .item_c img{
        clip-path: polygon(3% 0%, 100% 0, 100% 100%, 0% 100%);
        transform: scale(0.96);
    }
    .item_c .featured__category{
        left: 30px;
    }
    .block-3{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    aside, .footer{
        display: none;
    }
}
@media screen and (max-width:576px) {
    body{
        background-size: auto;
    }
    .header{
        height: 90px;
    }
    .logo{
        margin-left: 10%;
    }
    .logo img{
        height: 55px;
    }
    .layout{
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "featured featured featured"
        "main main main"
        "block-4 block-4 block-4"
        "block3 block3 block3"
        "main2 main2 main2"
        "footer footer footer";
    }
    .featured{
        height: auto;
        gap: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,50vw);
        grid-template-areas: 
    "item_a"
    "item_b"
    "item_c";
    padding: 3px;
    }


    .item_b{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        margin-left: 0px;
        width: 100%; 
    }
    .item_b img{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: scale(0.98);
    }
    .item_c{
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    .item_c img{
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
        transform: scale(0.98);
    }
    .item_c .featured__category{
        left: 20px;
    }
    .block-3{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,150px);
    }

    .nav, .section-header{
        display: none;
    }
    .block-1__post{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .block-3__item a{
        font-size: 13px;
    }
    .block-3__item--comics, .block-3__item--movies, .block-3__item--tv, .block-3__item--videogames, .block-3__item--anime, .block-3__item--manga{
        clip-path: none;
    }
    .block-3__comics, div.block-3__movies, div.block-3__tv, .block-3__videogames, .block-3__anime, .block-3__manga{
        clip-path: none;
    } 
    .featured__item:first-child .featured__title h3 {
        font-size: 22px;
        line-height: 1;
    }

    .block-5__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:         
        "first"
        "second"
        "third"
        "fourth"
        "fifth";
    }
    .block-5__container article:first-child {
        grid-template-rows: 50vw 1fr;
    }

    .block-6__container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 50vw);
    }.block-6__post{
        height: 100%;
    }
}

